$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

// Global Variables
$elblue: rgb(0, 114, 188);
$elwhite: rgb(255, 255, 255);
$elblack: rgb(15, 15, 15);
$elGrey: #333333;
$elsmokewhite: #D7D7D7;

// Global Overrides
textarea:hover, input:hover, textarea:active, input:active, textarea:focus, input:focus, button:focus, button:active, button:hover {
	outline: 0px !important;
	-webkit-appearance: none;
}
*, *:hover, *:visited {
	text-decoration: none !important;
}
.btn-link {
	color: $elwhite !important;
}
.btn-link:hover {
	text-decoration: none !important;
}
[ui-view] {
	width: 100%;
	overflow-x: hidden;
	// overflow-y: hidden;
	&.no-scroll {
		overflow: hidden !important;
	}
	// ui-view transition animation
	&.ng-enter, &.ng-leave {
		position: absolute;
		left: 0;
		right: 0;
		transition: all .5s ease-in-out;
		overflow: hidden !important;
	}
	&.ng-enter {
		opacity: 0;
		transform: translate3d(0, 0, 0);
		overflow: hidden !important;
	}
	&.ng-enter-active {
		opacity: 1;
		transform: translate3d(0, 0, 0);
		overflow: hidden !important;
	}
	&.ng-leave {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
	&.ng-leave-active {
		opacity: 0;
		transform: translate3d(0, 0, 0);
	}
}
// Body

html {
	min-height: 100%;
	background: $elblack;
}
body {
	color: $elwhite;
	background: none;
	font-family: "Roboto";
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	overflow-x: hidden;
}
.full-height {
	height: 100%;
	height: 100vh;
	position: relative;
}
// Navbar
// 
.navbar-default .navbar-nav {
	li {
		a, a:hover {
			color: $elwhite;
		}
	}
}

.navbar-default {
	background: $elblack;
	border: none;
}

#nav-main {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9;
	background: rgba(255, 255, 255, 0.95);
}
.menu-active {
	color: $elblue !important;
	font-weight: 900;
}
// V-Centered
.v-centered {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.btn-nav-info {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 80px;
	opacity: 0.5;
}

.btn-nav-welcome {
	position: absolute;
	width: 100%;
	left: 0;
	top: 40px;
	opacity: 0.5;
}

#technical-detail {
	background: #4C4C4C;
}

// Gallery
// 
// 
// 

.videoMask {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: $elblack;
	opacity: 0.01;
	cursor: pointer;
}

#vimeo_final, .vimeo_cam {
	border: 1px solid $elwhite;
	// height: auto;
}

.vimeo_cam_popup {
	
}

.grey-bg {
	background: $elGrey;
}

.share-icons-holder {
	text-align: right;
	margin-bottom: 15px;
	a {
		margin: 0px 5px;
		svg {
			width: 35px;
			height: 35px;
			fill: $elwhite;
			opacity: 0.5;
			transition: 0.25s;
			&:hover {
				opacity: 1;
			}
		}
	}
}


.gallery-grid {
	div {
		padding: 3px;
	}
}
.grid-content-container {
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	// padding: 3px;

	h2 {
		position: absolute;
		left: 0px;
		width: 100%;
		text-align: center;
		color: white;
		font-size: 4em;
		bottom: 8px;
		margin: 0px;
		height: 100%;
		top: 85%;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
		/* line-height: 1em; */
		text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
		opacity: 0.7;
	}
	h3 {
		position: absolute;
		left: 10px;
		width: 100%;
		text-align: left;
		color: $elwhite;
		font-size: 3vw;
		bottom: 8px;
		margin: 0px;
		line-height: 1em;
	}
}
.thumbnail-container {
	transition: 0.25s;
	overflow: hidden;
}
.thumbnail-container:hover {
	transform: scale(1.05);
}

.single-item {
	div {
		width: 100%;
		height: 500px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
	}
}

// Footer
.sticky-footer {
	position: fixed;
	bottom: 0;
	height: 40px;
	width: 100%;
	z-index: 9;
	background: $elwhite;
	padding-top: 8px;
}

// media Queries
// 
@media screen and (max-width:995px) {
	.share-icons-holder {
		text-align: left;
		margin-bottom: 15px;
	}
	.v-centered {
		top: 8% !important;
		padding-bottom: 100px;
		transform: translateY(0%) !important;
	}
	.single-item {
		div {
			width: 100%;
			height: 300px;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center center;
		}
	}
}

@media screen and (max-width: 700px) {
	.slick-prev, .slick-next {
		display: none !important;
	}
}

// Misc
.text-black {
	color: $elblack;
}

.text-smoke-white {
	color: $elsmokewhite;
}

.text-white {
	color: $elwhite;
}
.no-h-padding {
	padding-left: 5px !important;
	padding-right: 5px !important;
}
.dim {
	opacity: 0.3;
	pointer-events: none;
}
.controls-wrapper {
	.title {
		display: none;
	}
}
.animated {
	-webkit-animation-duration: 3s;
	animation-duration: 3s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-timing-function: ease-in;
	animation-timing-function: ease-in;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}
@keyframes bounce {
	0%, 10%, 15% {
		transform: translateY(0px);
	}
	;

	5% {
		transform: translateY(-15px);
	}
	;

	12% {
		transform: translateY(-10px);
	}
	;
}
.bounce {
	animation-name: bounce;
}