$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

// Global Variables
$elblue: rgb(0, 114, 188);
$elwhite: rgb(240, 240, 240);
$elblack: rgb(5,5,5);

// Global Overrides
textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover
{
    outline:0px !important;
    -webkit-appearance:none;
}
*, *:hover, *:visited {
	text-decoration: none !important;
}

.btn-link {
	color: $elwhite !important;
}

.btn-link:hover {
	text-decoration: none !important;
}

[ui-view] { 
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	overflow-y: auto;
	overflow-x: auto;
	&.has-padding {
		padding-bottom: 60px;
	}
}

// Body

html {
	min-height: 100%;
	/*
	background: rgba(254,254,254,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(254,254,254,1) 0%, rgba(226,226,226,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(254,254,254,1)), color-stop(100%, rgba(226,226,226,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(254,254,254,1) 0%, rgba(226,226,226,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(254,254,254,1) 0%, rgba(226,226,226,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(254,254,254,1) 0%, rgba(226,226,226,1) 100%);
	background: radial-gradient(ellipse at center, rgba(254,254,254,1) 0%, rgba(226,226,226,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e2e2e2', GradientType=1 );
	*/
	background: $elblack;
}

body {
	color: $elwhite;
	background: none;
	font-family: "Roboto";
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
}

.full-height {
	height: 100%;
	height: 100vh;
}

// Navbar
#nav-main {
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	z-index: 9;
	background: rgba(255,255,255,0.95);
}
.menu-active {
	color: $elblue !important;
	font-weight: 900;
}

// V-Centered
.v-centered {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

@media screen and (max-width: 995px) {
	.v-centered {
		top: 15% !important;
  		padding-bottom: 100px;
  		transform: translateY(0%) !important;
	}
}

// Gallery
.gallery-grid {
	div {
		padding: 3px;
	}
}

.grid-content-container {
	width: 100%;
	background-repeat: no-repeat;
  	background-size: cover;
  	background-position: center center;
  	// padding: 3px;
	h2	{
		position: absolute;
		left: 10px;
		width: 100%;
		text-align: left;
		color: $elwhite;
		font-size: 7vw;
		bottom: 8px;
		margin: 0px;
		line-height: 1em;
	}
	h3	{
		position: absolute;
		left: 10px;
		width: 100%;
		text-align: left;
		color: $elwhite;
		font-size: 3vw;
		bottom: 8px;
		margin: 0px;
		line-height: 1em;		
	}
}

.thumbnail-container {
	transition: 0.25s;
	overflow: hidden;
}

.thumbnail-container:hover {
	transform: scale(1.05);
}

// Footer
.sticky-footer {
	position: fixed;
	bottom: 0;
	height: 50px;
	width: 100%;
	z-index: 9;
	background: $elblack;
	padding-top: 12px;
}

// Misc

.text-white {
	color: $elwhite;
}

.no-h-padding {
	padding-left: 5px !important;
	padding-right: 5px !important;
}

.dim {
	opacity: 0.3;
	pointer-events: none;
}

.controls-wrapper {
	.title {
		display: none;
	}
}

.animated { 
    -webkit-animation-duration: 3s; 
    animation-duration: 3s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: ease-in; 
    animation-timing-function: ease-in; 
    animation-iteration-count:infinite; 
    -webkit-animation-iteration-count:infinite; 
} 

@keyframes bounce { 
    0%, 10%, 15% {
    	transform: translateY(0px);
    };
    5% {
    	transform: translateY(-15px);
    };
    12% {
    	transform: translateY(-10px);
    };
} 

.bounce { 
    animation-name: bounce; 
}