<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>elBulliLab</title>
    <!-- <base href="/index.html" /> -->
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel='stylesheet' href='bower_components/slick-carousel/slick/slick.css' />
    <link rel='stylesheet' href='bower_components/slick-carousel/slick/slick-theme.css' />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="bower_components/angular-ui-router-anim-in-out/css/anim-in-out.css">
    <!-- endbuild -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,300,700' rel='stylesheet' type='text/css'>
  </head>
  <body ng-app="elbulliApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a ui-sref="about({lang: lang})" class="navbar-brand">
            <img src="images/brand/elbulli_logo.png" alt="Elbulli Logo" height="18">
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a ui-sref-active="menu-active" ui-sref="about({lang: lang})" translate="NAV.ABOUT"></a></li>
            <li><a ui-sref-active="menu-active" ui-sref="video({lang: lang})" translate="NAV.VID"></a></li>
            <li><a ui-sref-active="menu-active" ui-sref="photo({lang: lang})"  translate="NAV.SCAN"></a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li><a style="cursor: pointer;" ng-class="{'menu-active': lang == 'en'}" ng-click="changeLanguage('en')">EN</a></li>
            <li><a style="cursor: pointer;" ng-class="{'menu-active': lang == 'es'}" ng-click="changeLanguage('es')">ES</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <!-- ui-view -->
    <div ui-view></div>

    <footer class="footer sticky-footer">
      <div class="container-fluid">
        <div class="col-xs-12 text-right">
          <span class="text-black" translate="POWERED" style="margin-right: 5px;"></span>
          <a target="_blank" href="http://microsoft.com">
            <img src="images/brand/ms_logo.png" alt="Microsoft" height="30" style="vertical-align: middle;">
          </a>
        </div>
      </div>
    </footer>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-64159210-1');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/angular-moment/angular-moment.js"></script>
    <script src="bower_components/angular-translate/angular-translate.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-ui-router-anim-in-out/anim-in-out.js"></script>
    <script src="bower_components/moment-timezone/builds/moment-timezone-with-data-2010-2020.js"></script>
    <script src="bower_components/slick-carousel/slick/slick.min.js"></script>
    <script src="bower_components/angular-slick/dist/slick.js"></script>
    <!-- endbower -->
    
    <script src="bower_components/moment/locale/es.js"></script>
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="http://platform.twitter.com/widgets.js"></script>
        <script src="scripts/app.js"></script>
        <script src="scripts/data.js"></script>
        <script src="scripts/router.js"></script>
        <script src="scripts/configs.js"></script>
        <script src="scripts/services.js"></script>
        <script src="scripts/filters.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/video.js"></script>
        <script src="scripts/controllers/photo.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <!-- endbuild -->
</body>
</html>
