<div class="container">
	<!-- Introduction -->
	<div class="row" id="home-intro">
		<div class="col-sm-1 hidden-xs">
		</div>
		<div class="col-xs-12 col-sm-10">
			<h1 class="hidden-xs" translate="MAIN_TITLE"></h1>
			<h2 class="visible-xs" translate="MAIN_TITLE"></h2>
			<h3 class="text-muted hidden-xs" translate="MAIN_DESC"></h3>
			<h4 class="text-muted visible-xs" translate="MAIN_DESC"></h3>
		</div>
		<div class="col-sm-1 hidden-xs">
		</div>
	</div>
	<!-- Technical Explanation -->
	<div class="row" id="home-technical">
		<div class="col-sm-1 hidden-xs">
		</div>
		<div class="col-xs-12 col-sm-10">
			
		</div>
		<div class="col-sm-1 hidden-xs">
		</div>
	</div>
</div>