<div class="container-fluid full-height" id="welcome">
	<!-- Introduction -->
	<div class="row v-centered">
		<div class="col-sm-1 hidden-xs">
		</div>
		<div class="col-xs-12 col-sm-10">
			<h1 class="hidden-xs" translate="MAIN_TITLE"></h1>
			<h3 class="visible-xs" translate="MAIN_TITLE"></h3>
			<p class="text-smoke-white hidden-xs lead" translate="MAIN_DESC"></p>
			<p class="text-smoke-white visible-xs lead" translate="MAIN_DESC"></p>
		</div>
		<div class="col-sm-1 hidden-xs">
		</div>
	</div>
	<p class="text-center btn-nav-info">
		<button class="btn btn-link" ng-click="scrollToTechnical()">
			<p class="text-white" style="position: relative; top: 25px;" translate="PROJECT_INFO"></p>
			<span class="text-white animated bounce glyphicon glyphicon-chevron-down" style="position: relative; top: 25px;"></span>
		</button>
	</p>
</div>

<div class="container-fluid full-height" id="technical-detail">
	<p class="text-center btn-nav-welcome">
		<button class="btn btn-link" ng-click="scrollToWelcome()">
			<span class="text-white animated bounce glyphicon glyphicon-chevron-up" style="position: relative; top: 25px;"></span>
			<p class="text-white" style="position: relative; top: 25px;" translate="BACK">
				
			</p>
		</button>
	</p>
	<!-- Technical Explanation -->
	<div class="row v-centered">
		<div class="col-sm-1 hidden-xs">
		</div>
		<div class="col-xs-12 col-sm-10">
			<h3 class="hidden-xs" translate="TECH_TITLE"></h3>
			<h3 class="visible-xs" translate="TECH_TITLE"></h3>
			<p class="text-smoke-white hidden-xs lead" translate="TECH_DESC"></p>
			<p class="text-smoke-white visible-xs lead" translate="TECH_DESC"></p>

			<!-- Tech Explanation -->
			<div class="row">
				<div class="col-xs-12 col-sm-4">
					<h4><span translate="TECH_STEP_HEAD"></span>
						<span> 1</span>
					</h4>
					<p class="text-smoke-white" translate="TECH_STEP_1_BODY"></p>
					<h4><span translate="TECH_STEP_HEAD"></span>
						<span> 2</span>
					</h4>
					<p class="text-smoke-white" translate="TECH_STEP_2_BODY"></p>
					<h4><span translate="TECH_STEP_HEAD"></span>
						<span> 3</span>
					</h4>
					<p class="text-smoke-white" translate="TECH_STEP_3_BODY"></p>
					<h4><span translate="TECH_STEP_HEAD"></span>
						<span> 4</span>
					</h4>
					<p class="text-smoke-white" translate="TECH_STEP_4_BODY"></p>
				</div>
				<div class="col-xs-12 col-sm-8">
					<img src="images/tech.png" width="100%" alt="Technical Diagram">
				</div>
			</div>
		</div>
		<div class="col-sm-1 hidden-xs">
		</div>
	</div>
</div>