<div class="container full-height">
	<!-- Introduction -->
	<div class="row v-centered">
		<div class="col-sm-1 hidden-xs">
		</div>
		<div class="col-xs-12 col-sm-10">
			<h1 class="hidden-xs" translate="MAIN_TITLE"></h1>
			<h3 class="visible-xs" translate="MAIN_TITLE"></h3>
			<h3 class="text-muted hidden-xs" translate="MAIN_DESC"></h3>
			<p class="text-muted visible-xs" translate="MAIN_DESC"></p>
		</div>
		<div class="col-sm-1 hidden-xs">
		</div>
	</div>
</div>

<div class="container full-height">
	<!-- Technical Explanation -->
	<div class="row v-centered">
		<div class="col-sm-1 hidden-xs">
		</div>
		<div class="col-xs-12 col-sm-10">
			<h3 class="hidden-xs" translate="TECH_TITLE"></h3>
			<h3 class="visible-xs" translate="TECH_TITLE"></h3>
			<p class="text-muted hidden-xs" translate="TECH_DESC"></p>
			<p class="text-muted visible-xs" translate="TECH_DESC"></p>
			<br>
			<img src="images/tech.png" width="100%">
		</div>
		<div class="col-sm-1 hidden-xs">
		</div>
	</div>
</div>