<div ui-view class="has-padding">
	<div class="container full-height">
		<div class="row v-centered">
			<!-- <div class="col-sm-1 hidden-xs"></div> -->
			<div class="col-xs-12 col-sm-12">
				<div class="row">
					<div class="col-xs-12">
						<h3 translate="DIGEST.MONTH">Monthly Digest</h3>
					</div>
				</div>
				<div class="row gallery-grid">
					<div class="col-md-2 col-xs-4">
						<article class="grid-content-container">
							<img src="http://placehold.it/300x300" width="100%">
							<h3>2015</h3>
						</article>
					</div>
					<div ng-repeat="month in months | limitFromTo:0:5" ng-class="{dim: !month.isActive}" class="col-md-2 col-xs-4">
						<a ng-click="disallowSlide()" ui-sref="photo.month({lang: lang, year: month.year, month: month.month})">
							<img ng-src="{{month.image}}" width="100%" alt="month.month">
						</a>
					</div>
					<div class="col-md-2 col-xs-4">
						<article class="grid-content-container">
							<img src="http://placehold.it/300x300" width="100%">
							<h3>2016</h3>
						</article>
					</div>
					<div ng-repeat="month in months | limitFromTo:5:12" ng-class="{dim: !month.isActive}" class="col-md-2 col-xs-4">
						<a ng-click="disallowSlide()" ui-sref="photo.month({lang: lang, year: month.year, month: month.month})">
							<img ng-src="{{month.image}}" width="100%" alt="month.month">
						</a>
					</div>
				</div>
			</div>
			<!-- <div class="col-sm-1 hidden-xs"></div> -->
		</div>
	</div>
</div>
