<div class="container" style="padding-top: 50px;">
	<div class="row">
		<div class="col-sm-1 hidden-xs"></div>
		<div class="col-xs-12 col-sm-10">
			<div class="row">
				<h4 translate="DIGEST.DAY">Daily Digest: {{thisMonth | capitalize}}</h4>
			</div>
			<div class="row gallery-grid">
				<div ng-repeat="day in days" class="col-md-2 col-xs-4">
					<a ng-click="disallowSlide()" ui-sref="video_day({month: current.month, day: current.day})" class="grid-content-container">
						<img ng-src="{{month.image}}" width="100%" alt="month.month">
					</a>
				</div>
			</div>
		</div>
		<div class="col-sm-1 hidden-xs"></div>
	</div>
</div>
